<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>GabbyKC Projects</title>
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body>
    <header>
        <h1>Hey! I'm GabbyKC <i class="far fa-smile-beam"></i></h1>
    </header>

    <section class="intro">

        <p class="seuss">“You're on your own. And you know what you know. And YOU are the
            one who'll decide where to go...” - Dr Seuss
        </p>

        <p>
            I am relatively new to Web Development and am currently attending
            a Code Academy in Berlin, Germany.
        </p>

        <p>
            On this little landing page, I will leave some links to projects I am
            working on or have completed.

        </p>
    </section>

    <section class="intro">
        <h3 class="headings">Ubiqum Code Academy Projects:</h3>
        <p class="projects"><i class="fas fa-folder-open"></i> Project One: NYSL</p>
        <a target="_blank" rel="noopener noreferrer" href="nysl_version_3/root/index.html"><i class="fas fa-chevron-right"></i> Welcome to NYSL</a>

        <p class="projects"><i class="fas fa-folder-open"></i> Project Two: TGIF</p>
        <a target="_blank" rel="noopener noreferrer" href="TGIF_project/html/home-page.html"><i class="fas fa-chevron-right"></i> Transparent Government In Fact</a>

        <p class="projects"><i class="fas fa-folder-open"></i> Project Three: Bookstore</p>
        <a target="_blank" rel="noopener noreferrer" href="bookstore_project/home-page.html"><i class="fas fa-chevron-right"></i> Quick Peek Bookstore</a>
    </section>


</body>

</html>
